@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .me{
        max-height:250px;
        max-width: 250px;
    }
</style>


<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card my-4 d-none d-lg-block">
            <h5 class="mt-3 text-center">About the Author</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        Hello world. This is me. Jessica. But you can call me the cutest little coder you ever did see.

                    </div>
                    <div class="mx-auto">
                        <img class="img-fluid me" src="~/Images/Me.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8 mt-5 mb-5">
        <!-- Contact Form -->
        <h2>Drop Me A Message!</h2>
        <form id="contact-form" class="contact-form mt-6" method="post" action="form/contact.php">

            <div class="messages"></div>

            <div class="row">
                <div class="column col-md-6">
                    <!-- Name input -->
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="InputName" placeholder="Your name" required="required" data-error="Name is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="column col-md-6">
                    <!-- Email input -->
                    <div class="form-group">
                        <input type="email" class="form-control" id="InputEmail" name="email" placeholder="Email address" required="required" data-error="Email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="column col-md-12">
                    <!-- Email input -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="InputSubject" name="subject" placeholder="Subject" required="required" data-error="Subject is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="column col-md-12">
                    <!-- Message textarea -->
                    <div class="form-group">
                        <textarea name="message" id="InputMessage" class="form-control" rows="5" placeholder="Message" required="required" data-error="Message is required."></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>

            <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-primary">Send Message</button><!-- Send Button -->

        </form>
        <!-- Contact Form end -->
    </div>
</div>

